<table class="table table-bordered text-center w-auto mx-auto">
    <tr>
      <td>
        <form method="post" action="{{likeurl}}" class="d-inline">
          <input type="hidden" name="vote" value="like">
          <input type="hidden" name="userid" value="{{userid}}">
          <input type="hidden" name="courseid" value="{{courseid}}">
          <input type="hidden" name="pageurl" value="{{pageurl}}">
          <input type="hidden" name="sesskey" value="{{sesskey}}">
          <button type="submit" class="btn btn-success">👍</button>
        </form>
        <div class="mt-2">{{likecount}} Likes</div>
      </td>
      <td>
        <form method="post" action="{{likeurl}}" class="d-inline">
          <input type="hidden" name="vote" value="dislike">
          <input type="hidden" name="userid" value="{{userid}}">
          <input type="hidden" name="courseid" value="{{courseid}}">
          <input type="hidden" name="pageurl" value="{{pageurl}}">
          <input type="hidden" name="sesskey" value="{{sesskey}}">
          <button type="submit" class="btn btn-danger">👎</button>
        </form>
        <div class="mt-2">{{dislikecount}} Dislikes</div>
      </td>
    </tr>
</table>

<hr>
<strong> Liked pages by you </strong>
<div>
{{#userlikes}}
    <p><a href={{fullurl}} target="_blank">{{pageurl}}</a></p>
{{/userlikes}}
</div>

<hr>
<strong> Dislike pages by you </strong>
<div>
{{#userdislikes}}
    <p><a href={{fullurl}} target="_blank">{{pageurl}}</a></p>
{{/userdislikes}}
</div>
