<table class="table table-bordered text-center w-auto mx-auto">
    <tr>
      <td>
        <button type="button" class="btn btn-success">
          👍
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger">
          👎
        </button>
      </td>
    </tr>
  </table>